[
  {
    "name": "c/main.c",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "c/main.c"
    ],
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c from c/README.md",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/example.c"
    ],
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  }
]
