[
  {
    "name": "c/main.c",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "c/main.c"
    ],
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c from c/README.md",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/example.c"
    ],
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c modified to read an empty file",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/read.c"
    ],
    "filesystem": {
      "enabled": true,
      "files": [
        {
            "max_val": 0,
            "min_val": 0,
            "name": "input.data",
            "size": 0
        }
      ]
    },
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c modified to read a file with 64 bytes 0",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/read.c"
    ],
    "filesystem": {
      "enabled": true,
      "files": [
        {
            "max_val": 0,
            "min_val": 0,
            "name": "input.data",
            "size": 64
        }
      ]
    },
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c modified to read a file with 64 bytes 1",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/read.c"
    ],
    "filesystem": {
      "enabled": true,
      "files": [
        {
            "max_val": 1,
            "min_val": 1,
            "name": "input.data",
            "size": 64
        }
      ]
    },
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c modified to read a file with 64 random bytes",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/read.c"
    ],
    "filesystem": {
      "enabled": true,
      "files": [
        {
          "name": "input.data",
          "from": "tis/data_64_bytes.bin"
        }
      ]
    },
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c modified to read a file with 1024 random bytes",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/read.c"
    ],
    "filesystem": {
      "enabled": true,
      "files": [
        {
          "name": "input.data",
          "from": "tis/data_1024_bytes.bin"
        }
      ]
    },
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  }
]
