[
  {
    "name": "c/main.c",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "c/main.c"
    ],
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c from c/README.md",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/example.c"
    ],
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c modified to read an empty file",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/read.c"
    ],
    "filesystem": {
      "enabled": true,
      "files": [
        {
            "max_val": 0,
            "min_val": 0,
            "name": "input.data",
            "size": 0
        }
      ]
    },
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c modified to read a file with 64 bytes 0",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/read.c"
    ],
    "filesystem": {
      "enabled": true,
      "files": [
        {
            "max_val": 0,
            "min_val": 0,
            "name": "input.data",
            "size": 64
        }
      ]
    },
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c modified to read a file with 64 bytes 1",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/read.c"
    ],
    "filesystem": {
      "enabled": true,
      "files": [
        {
            "max_val": 1,
            "min_val": 1,
            "name": "input.data",
            "size": 64
        }
      ]
    },
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c modified to read a file with 64 random bytes",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/read.c"
    ],
    "filesystem": {
      "enabled": true,
      "files": [
        {
          "name": "input.data",
          "from": "tis/data_64_bytes.bin"
        }
      ]
    },
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "example.c modified to read a file with 1024 random bytes",
    "files": [
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c",
      "tis/read.c"
    ],
    "filesystem": {
      "enabled": true,
      "files": [
        {
          "name": "input.data",
          "from": "tis/data_1024_bytes.bin"
        }
      ]
    },
    "compilation_cmd": "-I . -I c -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64"
  },
  {
    "name": "Test vector 01: test_hash",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/01_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/01_expected_hash"
        }
      ]
    }
  },
  {
    "name": "Test vector 01: test_hash_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/01_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/01_expected_hash_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--length%131"
    }
  },
  {
    "name": "Test vector 01: test_keyed_hash",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/01_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/01_expected_keyed_hash"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--keyed%77686174732074686520456c7669736820776f726420666f7220667269656e64"
    }
  },
  {
    "name": "Test vector 01: test_keyed_hash_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/01_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/01_expected_keyed_hash_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--keyed%77686174732074686520456c7669736820776f726420666f7220667269656e64%--length%131"
    }
  },
  {
    "name": "Test vector 01: test_derive_key",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/01_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/01_expected_derive_key"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--derive-key%BLAKE3 2019-12-27 16:29:52 test vectors context"
    }
  },
  {
    "name": "Test vector 01: test_derive_key_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/01_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/01_expected_derive_key_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--derive-key%BLAKE3 2019-12-27 16:29:52 test vectors context%--length%131"
    }
  },
  {
    "name": "Test vector 02: test_hash",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/02_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/02_expected_hash"
        }
      ]
    }
  },
  {
    "name": "Test vector 02: test_hash_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/02_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/02_expected_hash_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--length%131"
    }
  },
  {
    "name": "Test vector 02: test_keyed_hash",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/02_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/02_expected_keyed_hash"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--keyed%77686174732074686520456c7669736820776f726420666f7220667269656e64"
    }
  },
  {
    "name": "Test vector 02: test_keyed_hash_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/02_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/02_expected_keyed_hash_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--keyed%77686174732074686520456c7669736820776f726420666f7220667269656e64%--length%131"
    }
  },
  {
    "name": "Test vector 02: test_derive_key",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/02_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/02_expected_derive_key"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--derive-key%BLAKE3 2019-12-27 16:29:52 test vectors context"
    }
  },
  {
    "name": "Test vector 02: test_derive_key_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/02_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/02_expected_derive_key_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--derive-key%BLAKE3 2019-12-27 16:29:52 test vectors context%--length%131"
    }
  },
  {
    "name": "Test vector 03: test_hash",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/03_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/03_expected_hash"
        }
      ]
    }
  },
  {
    "name": "Test vector 03: test_hash_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/03_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/03_expected_hash_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--length%131"
    }
  },
  {
    "name": "Test vector 03: test_keyed_hash",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/03_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/03_expected_keyed_hash"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--keyed%77686174732074686520456c7669736820776f726420666f7220667269656e64"
    }
  },
  {
    "name": "Test vector 03: test_keyed_hash_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/03_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/03_expected_keyed_hash_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--keyed%77686174732074686520456c7669736820776f726420666f7220667269656e64%--length%131"
    }
  },
  {
    "name": "Test vector 03: test_derive_key",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/03_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/03_expected_derive_key"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--derive-key%BLAKE3 2019-12-27 16:29:52 test vectors context"
    }
  },
  {
    "name": "Test vector 03: test_derive_key_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/03_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/03_expected_derive_key_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--derive-key%BLAKE3 2019-12-27 16:29:52 test vectors context%--length%131"
    }
  },
  {
    "name": "Test vector 04: test_hash",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/04_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/04_expected_hash"
        }
      ]
    }
  },
  {
    "name": "Test vector 04: test_hash_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/04_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/04_expected_hash_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--length%131"
    }
  },
  {
    "name": "Test vector 04: test_keyed_hash",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/04_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/04_expected_keyed_hash"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--keyed%77686174732074686520456c7669736820776f726420666f7220667269656e64"
    }
  },
  {
    "name": "Test vector 04: test_keyed_hash_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/04_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/04_expected_keyed_hash_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--keyed%77686174732074686520456c7669736820776f726420666f7220667269656e64%--length%131"
    }
  },
  {
    "name": "Test vector 04: test_derive_key",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/04_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/04_expected_derive_key"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--derive-key%BLAKE3 2019-12-27 16:29:52 test vectors context"
    }
  },
  {
    "name": "Test vector 04: test_derive_key_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/04_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/04_expected_derive_key_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--derive-key%BLAKE3 2019-12-27 16:29:52 test vectors context%--length%131"
    }
  },
  {
    "name": "Test vector 05: test_hash",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/05_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/05_expected_hash"
        }
      ]
    }
  },
  {
    "name": "Test vector 05: test_hash_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/05_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/05_expected_hash_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--length%131"
    }
  },
  {
    "name": "Test vector 05: test_keyed_hash",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/05_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/05_expected_keyed_hash"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--keyed%77686174732074686520456c7669736820776f726420666f7220667269656e64"
    }
  },
  {
    "name": "Test vector 05: test_keyed_hash_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/05_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/05_expected_keyed_hash_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--keyed%77686174732074686520456c7669736820776f726420666f7220667269656e64%--length%131"
    }
  },
  {
    "name": "Test vector 05: test_derive_key",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/05_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/05_expected_derive_key"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--derive-key%BLAKE3 2019-12-27 16:29:52 test vectors context"
    }
  },
  {
    "name": "Test vector 05: test_derive_key_xof",
    "files": [
      "tis/test.c",
      "c/main.c",
      "c/blake3.c",
      "c/blake3_dispatch.c",
      "c/blake3_portable.c"
    ],
    "main": "main_wrapper",
    "compilation_cmd": "-I . -I c -DBLAKE3_TESTING -DBLAKE3_NO_SSE41 -DBLAKE3_NO_AVX2 -DBLAKE3_NO_AVX512",
    "machdep": "gcc_x86_64",
    "filesystem": {
      "files": [
        {
          "name": "tis-mkfs-stdin",
          "from": "tis/test_vectors/05_input.bin"
        },
        {
          "name": "expected",
          "from": "tis/test_vectors/05_expected_derive_key_xof"
        }
      ]
    },
    "raw_options": {
      "-val-args": "%--derive-key%BLAKE3 2019-12-27 16:29:52 test vectors context%--length%131"
    }
  }
]
